.odd {
    background-color: rgb(255,167,167);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.oddly-cool {
    font-size: 24px;
}

#two   {
    color: blue;
    font: size 34px;
}

#four {
    background-color: hsl(120, 100%, 75%);
    font-size: 100px;
    font-weight: bold;
}